<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Digebiz Responsive web template, Bootstrap Web Templates" />
  <title>Digebiz Corporate Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="static/css/style-starter.css">
</head>

<body >

  <!--header-->
  <header id="site-header" class="fixed-top">
    <!-- //top header -->
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0 py-lg-0">
        <h1><a class="navbar-brand" href="index.html">
            Auto<span class="sub-logo">F</span>lask</span>
          </a></h1>
        <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <!--/search-right-->
            <li class="nav-item search-right ml-lg-3">
              <!-- /header-top-inn-->
              <div class="menu-overlay-left">
                <div class="two-pops">
                  <!-- overlay-menuv-menu -->
                  <div class="overlay-menuv-hny">
                    <input type="checkbox" id="op"></input>
                    <div class="side-menu-hny mt-lg-3">
                      <label for="op" class="menuopen">
                        <span class="fa fa-search" aria-hidden="true"></span></label>
                    </div>
                    <div class="overlay-menuv overlay-menuv-hugeinc">
                      <label for="op" class="menuclose"><span class="fa fa-times" aria-hidden="true"></span></label>
                      <div class="side-show-content text-left">

                        <div class="quick-links-side mb-5 pt-lg-5">
                          <h3 class="side-title">Search Here</h3>
                          <form action="#" method="post" class="search-box">
                            <input type="search" placeholder="Keyword" name="search" required="required" autofocus="">
                            <button type="submit" class="btn btn-style mt-3">Search</button>
                          </form>

                        </div>

                        <div class="quick-links-side follow-us mb-5">
                          <h3 class="side-title">Follow Us</h3>
                          <ul class="social-icons-top">
                            <li><a class="facebook" href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a class="twitter" href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a class="google" href="#"><span class="fa fa-google-plus"
                                  aria-hidden="true"></span></a>
                            </li>
                            <li><a class="instagram" href="#"><span class="fa fa-instagram"
                                  aria-hidden="true"></span></a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- overlay-menuv-menu -->
            </li>
            <!--//search-right-->
          </ul>
          <!--/right-btn-->
          <div class="top-righthny-buttton">
            <a class="btn btn-style btn-white mr-lg-5" href="/contact">
              Get In Touch <span class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
          </div>
          <!--/right-btn-->
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  <!-- banner section -->
  <section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4 mt-lg-0 mt-md-4">
      <div class="w3l-banner-content py-lg-5 py-4 mt-md-4">
        <div class="pt-md-5 pt-lg-4 mt-4 align-items-lg-center">
          <div class="bannerhny-info">
            <!-- <h6 class="title-subhny mb-3">Digital Agency.</h6> -->
            <h3 class="">AutoFlask</h3>
            <a class="btn btn-style btn-outline-light mt-sm-5 mt-4" href="/about">
              Read More <span class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //banner section -->
  <!--/w3l-clients-->
  <section class="w3l-clients" id="clients">
    <div class="container">
      <div class="call-w3">
        <div class="company-logos text-center">
          <div class="row logos">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 pl-lg-0">
              <img src="static/images/logo1.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 pl-lg-0">
              <img src="static/images/logo2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-sm-0 mt-4 pl-lg-0">
              <img src="static/images/logo3.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-md-0 mt-4 pl-lg-0">
              <img src="static/images/logo4.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-lg-0 mt-4 pl-lg-0">
              <img src="static/images/logo5.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-lg-0 mt-4 pl-lg-0">
              <img src="static/images/logo1.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//w3l-clients-->
  <!-- //w3l-inner-page-breadcrumb-->
  <section class="w3l-about-ab pt-lg-3" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-left">
          <h6 class="title-subhny">Who We Are</h6>
          <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">What We Offer To Highest <br> Quality Services</h3>
        </div>
        <div class="row">
          <div class="col-lg-5 left-wthree-img pr-lg-4">
            <div class="imgw3l-ab mb-md-5 mb-3">
              <img src="static/images/ab1.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
          <div class="col-lg-7 pl-lg-5 align-self mt-lg-0 mt-4">
            <h5 class="color-3 mb-3 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel.Pellen tesque libero ut justo,
              ultrices in ligula.
            </h5>
            <p class="pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel. Learn more about our work!
              Lorem ipsum viverra feugiat.consectetur adipisicing dolor et amet.
            </p>
            <p class="mt-4 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
              Semper at
              tempufddfel. Learn more about our work! Lorem ipsum viverra feugiat.consectetur adipisicing dolor et amet.
            </p>
            <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <span
                class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- /w3l-content-2-->

  <!-- /home-services-->
  <section class="home-services py-5">
    <div class="container py-md-5 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny">What We Do</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">We are more than just
          <br>a digital agency.</h3>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <h5 class="color-3 mb-3 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
            ultrices in ligula. Semper at tempufddfel.Pellen tesque libero ut justo,
            ultrices in ligula.
          </h5>
          <p class="mt-4 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper
            at
            tempufddfel. Learn more about our work.
          </p>
          <p class="mt-4 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
            tempufddfel.consectetur adipisicing dolor et amet.
          </p>
          <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <span
              class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
        </div>
        <div class="col-lg-7 left-wthree-img pl-lg-4 mt-lg-0 mt-5">

          <div class="row">
            <div class="box-wrap col-md-6 col-sm-12">
              <div class="box-wrap-grid text-left">
                <div class="icon mb-3">
                  <span class="fa fa-lightbulb-o"></span>
                </div>
                <div class="info">
                  <h4><a href="#url">Idea & Analysis </a></h4>
                </div>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur ipsum elit.</p>
              </div>
            </div>
            <div class="box-wrap col-md-6 col-sm-12">
              <div class="box-wrap-grid text-left">
                <div class="icon mb-3">
                  <span class="fa fa-paint-brush"></span>
                </div>
                <div class="info">
                  <h4><a href="#url">Designing</a></h4>
                </div>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur ipsum elit.</p>
              </div>
            </div>
            <div class="box-wrap col-md-6 col-sm-12">
              <div class="box-wrap-grid text-left">
                <div class="icon mb-3">
                  <span class="fa fa-line-chart"></span>
                </div>
                <div class="info">
                  <h4><a href="#url">Development</a></h4>
                </div>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur ipsum elit.</p>
              </div>
            </div>
            <div class="box-wrap col-md-6 col-sm-12">
              <div class="box-wrap-grid text-left">
                <div class="icon mb-3">
                  <span class="fa fa-bullhorn"></span>
                </div>
                <div class="info">
                  <h4><a href="#url">Online marketing</a></h4>
                </div>
                <p class="mt-2">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home-services-->
  <!-- /why-->
  <section class="w3l-content-2 py-5">
    <div class="container py-md-5 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny">Why Us</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">Our Working Process To Help <br>Your Boost Your Business</h3>
      </div>
      <div class="row whybox-wrap">
        <div class="col-lg-6 whybox-wrap-left pr-lg-5 align-self">
          <div class="whybox-inner-content">
            <div class="whybox-wrap-grid mb-lg-5 mb-4">
              <div class="whybox-wrap-grid-inf">
                <div class="icon">
                  <span class="fa fa-thumbs-up"></span>
                </div>
                <div class="info">
                  <h4><a href="#url"> Perfect Strategy</a></h4>
                </div>
              </div>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
            <div class="whybox-wrap-grid mb-lg-5 mb-4">
              <div class="whybox-wrap-grid-inf">
                <div class="icon">
                  <span class="fa fa-lightbulb-o"></span>
                </div>
                <div class="info">
                  <h4><a href="#url">Innovative Ideas</a></h4>
                </div>
              </div>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
            <div class="whybox-wrap-grid mb-lg-5 mb-4">
              <div class="whybox-wrap-grid-inf">
                <div class="icon">
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="info">
                  <h4><a href="#url"> Effective Solutions</a></h4>
                </div>
              </div>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
            <div class="whybox-wrap-grid mb-lg-5 mb-4">
              <div class="whybox-wrap-grid-inf">
                <div class="icon">
                  <span class="fa fa-laptop"></span>
                </div>
                <div class="info">
                  <h4><a href="#url"> Testing & Lunching</a></h4>
                </div>
              </div>
              <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 whybox-wrap-img pl-lg-5 mt-lg-0 mt-4">
          <div class="imgw3l-ab mb-md-5 mb-3">
            <img src="static/images/ab2.jpg" alt="" class="radius-image img-fluid">
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- //w3l-why-->
  <!-- /stats-->
  <section class="w3l-stats-1 py-5">
    <div class="container py-md-5 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny">Our Stats</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">We do design,code <br>
          and develop.</h3>
      </div>
      <div class="row whybox-wrap">
        <div class="col-lg-6 whybox-wrap-img pr-lg-5">
          <div class="imgw3l-ab mb-md-5 mb-3">
            <img src="static/images/ab3.jpg" alt="" class="radius-image img-fluid">
          </div>
        </div>
        <div class="col-lg-6 whybox-wrap-left align-self">
          <div class="whybox-inner-content">
            <h5 class="color-3 mb-3 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel.Pellen tesque libero ut justo,
              ultrices in ligula.
            </h5>
            <p class="mt-4 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
              Semper at tempufddfel. Learn more about our work! Lorem ipsum viverra feugiat.consectetur adipisicing
              dolor et amet.</p>
            <p class="mt-4 pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula.
              tempufddfel.consectetur adipisicing dolor et amet.
            </p>
            <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <span
                class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
            <div class="row stats-con no-gutters pt-lg-4">
              <div class="col-6 stats_info counter_grid1 text-left mt-5">
                <p class="counter">2020</p>
                <h4>Projects deliverd</h4>
              </div>
              <div class="col-6 stats_info counter_grid text-left mt-5">
                <p class="counter">1912</p>
                <h4>Specialists</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //w3-stats-1-->
  <!--/gallery-->
  <section class="w3l-gallery py-5" id="projects">
    <div class="container py-md-5 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny">Our Projects</h6>
        <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">Take A Look At Our<br> Latest Projects</h3>
      </div>
      <div class="row w3l-galprojects no-gutters">
        <div class="col-md-6 galprojects-gd mt-md-0 mt-5">
          <div class="galprojects-gd-content">
            <div class="crd crd--effect-3">
              <div class="crd-img" style="background-image:url(assets/images/1.jpg);background-position:bottom;"></div>
              <div class="crd-info text-left">
                <h2 class="crd-heading">Creative</h2>
                <p class="crd-text">ios, design</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 galprojects-gd mt-md-0 mt-5">
          <div class="galprojects-gd-content">
            <div class="crd crd--effect-3">
              <div class="crd-img" style="background-image:url(assets/images/2.jpg);background-position:bottom;"></div>
              <div class="crd-info text-left">
                <h2 class="crd-heading">Branding</h2>
                <p class="crd-text">Branding, design</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 galprojects-gd mt-5">
          <div class="galprojects-gd-content">
            <div class="crd crd--effect-3">
              <div class="crd-img" style="background-image:url(assets/images/3.jpg);background-position:bottom;"></div>
              <div class="crd-info text-left">
                <h2 class="crd-heading">Web Development</h2>
                <p class="crd-text">ios, design</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 galprojects-gd mt-5">
          <div class="galprojects-gd-content">
            <div class="crd crd--effect-3">
              <div class="crd-img" style="background-image:url(assets/images/4.jpg);background-position:center;"></div>
              <div class="crd-info text-left">
                <h2 class="crd-heading">Mobile App</h2>
                <p class="crd-text">Web application</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//gallery-->
  <!-- testimonials -->
  <section class="w3l-clients-1" id="testimonials">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="testimonial-row">
          <div id="owl-demo1" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">

                  <blockquote>
                    <q><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                      laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                      facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                      voluptate rem ullam dolore nisi est quasi, doloribus tempora.</q>
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img">
                      <img src="static/images/team1.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl">
                      <h3>Dennis wilson</h3>
                      <p class="indentity">Customer </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">

                  <blockquote>
                    <q><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                      laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                      facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                      voluptate rem ullam dolore nisi est quasi, doloribus tempora.</q>
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team2.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl">
                      <h3>Tommy sakura</h3>
                      <p class="indentity">Customer </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">

                  <blockquote>
                    <q><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                      laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                      facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                      voluptate rem ullam dolore nisi est quasi, doloribus tempora.</q>
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="static/images/team3.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl">
                      <h3>Roy Linderson</h3>
                      <p class="indentity">Customer </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">

                  <blockquote>
                    <q><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                      laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                      facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                      voluptate rem ullam dolore nisi est quasi, doloribus tempora.</q>
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="static/images/team2.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl">
                      <h3>Mike Thyson</h3>
                      <p class="indentity">Customer </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /grids -->
    </div>
    <!-- //grids -->
  </section>
  <!-- //testimonials -->
  <!--/Blog-Posts-->
  <section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="title-content text-left">
        <h6 class="title-subhny">Insight and Trends</h6>
        <h3 class="title-w3l pb-sm-o pb-2">Latest Blog & News</h3>
      </div>
      <div class="row text-11">
        <!--/services-grids-->
        <div class="col-md-6 text11-content blog-grid-info text-left mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <a href="#">
                <img class="card-img-bottom d-block radius-image" src="static/images/b3.jpg" alt="Card image cap">
              </a>
            </div>
            <div class="card-body p-0 blog-details">
              <h6 class="mt-4">May 12, 2021.</h6>
              <a href="#admin" class="admin">- by Blanche Smith</a>
              <br>
              <a href="#" class="blog-desc">You can now listen to the entire
                library of Design Better books for free </a>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum laboriosam
                voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.</p>
              <a href="#" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <span
                  class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text11-content blog-grid-info text-left mt-5 pl-lg-4">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <a href="#">
                <img class="card-img-bottom d-block radius-image" src="static/images/b4.jpg" alt="Card image cap">
              </a>
            </div>
            <div class="card-body p-0 blog-details">
              <h6 class="mt-4">May 12, 2021.</h6>
              <a href="#admin" class="admin">- by Blanche Smith</a>
              <br>
              <a href="#" class="blog-desc">You can now listen to the entire
                library of Design Better books for free </a>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptatum laboriosam
                voluptate soluta est obcaecati, quam aperiam nam natus dicta tenetur? Dolore.</p>
              <a href="#" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More <span
                  class="fa fa-long-arrow-right ml-3" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//Blog-Posts-->
  <!--/address-->
  <section class="home-w3l-content py-5">
    <div class="container">
      <div class="row home-w3l-content-grids">
        <div class="col-lg-4 home-w3l-content-grid mt-lg-0 mt-4">
          <h5 class="">Call Our Support</h5>
          <p class="home-w3l-content-grid-inf">
            24 / 7 Support Line : <span class="fa fa-phone mr-1"></span> <a href="tel:+1(21) 234 4567">+1(21) 234 557
              4567</a>
          </p>

        </div>
        <div class="col-lg-4 home-w3l-content-grid px-lg-4 mt-lg-0 mt-4">
          <h5 class="">Our Location</h5>
          <p>Shipper, #2214 Honey street, NY - 62617.</p>
        </div>
        <div class="col-lg-4 home-w3l-content-grid mt-lg-0 mt-4">
          <h5 class="">Our Newsletter</h5>
          <form action="#" class="subscribe d-flex text-lg-right" method="post">
            <input type="email" name="email" placeholder="Email Address" required="">
            <button class="btn btn-style btn-primary">Subscibe</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--//address-->
  <!-- footer -->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-3">
        <div class="row footer-top-29">
          <div class="col-lg-4 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4 pr-lg-5">
            <div class="footer-logo mb-3">
              <h2><a class="navbar-brand" href="index.html">
                  Dige<span class="sub-logo">b</span>iz</span>
                </a>
              </h2>
            </div>
            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
              ultrices in ligula. Semper at tempufddfel.Pellen tesque libero ut justo,
              ultrices in ligula.
            </p>
          </div>
          <div class="col-lg-8 footerw3l-right pl-lg-5">
            <div class="row no-gutters">
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <h6 class="footer-title-29">Want to work with us?</h6>
                <p>Use This Email</p>
                <p class="mt-2"> <a href="mailto:mail@example.com">mail@example.com</a></p>
              </div>
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <h6 class="footer-title-29">Want to say hi?</h6>
                <p>Genenaral Inquires</p>
                <p class="mt-2"> <a href="mailto:support@example.com">support@example.com</a></p>
              </div>
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <h6 class="footer-title-29">Find us on social media.</h6>
                <p class="mt-2">Social Media</p>

                <div class="main-social-footer-29 mt-2">
                  <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                  <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                  <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                </div>
              </div>
            </div>
            <div class="row no-gutters mt-5">
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <ul>
                  <h6 class="footer-title-29">Company</h6>
                  <li><a href="#careers"> Careers</a></li>
                  <li><a href="#news">News & Media</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <h6 class="footer-title-29">What We Do</h6>
                <ul>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#"> Blog Posts</a></li>
                  <li><a href="services.html">Services</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                <h6 class="footer-title-29">Quick Links</h6>
                <ul>
                  <li><a href="#terms">Terms of service</a></li>
                  <li><a href="#privacy"> Privacy policy</a></li>

                  <li><a href="#support"> Support</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //footer -->
  <!-- copyright -->
  <section class="w3l-copyright">
    <div class="container">
      <div class="bottom-copies text-center">
        <p class=" copy-footer-29">© 2021 Digebiz.Made with <span class="fa fa-heart" aria-hidden="true"></span> love
          Design by<a href="https://w3layouts.com/" target="_blank">
            W3layouts</a></p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- //copyright -->
  <!--//footer-->
  <!-- Template JavaScript -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/theme-change.js"></script>
  <script src="static/js/owl.carousel.js"></script><!-- owl carousel -->
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          1000: {
            items: 2,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- stats number counter-->
  <script src="static/js/jquery.waypoints.min.js"></script>
  <script src="static/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script src="static/js/bootstrap.min.js"></script>

</body>

</html>